* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1500px;
    margin: 10px;
    columns: 4;
    overflow-x: hidden;
}

.container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    column-gap: 10px;

}

.item {

    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.item img {

    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.item:hover img {

    transform: scale(1.5);
}